body {
    background-color: #f5ced4;
    margin: 0 20px 0 20px;
    font-size: 0.875rem;
    line-height: 2;
}

#fName {
    font-size: 4rem;
}

a {
    color: #110f0f;
    text-decoration: none;
}

/* Home */
.contact-icons {
    display: inline-block;
    margin: 16px;
}

.navbar-light .navbar-toggler {
    border-color: #f5ced4;
}

.collapse.in { 
    display: inline !important; 
}

/* Projects */
.box {
    background-color: #DF9FA9;
    height: 30%;
    width: 100%;
}

.textWrapLeft {
    float: left;
    margin: 10px;
}
.view-arrow {
    text-align: right;
}

.more-arrow {
    background-color: #BD8A6A;
    border-radius: 180%;
}

.view-more {
    background-color: #BD8A6A;
    border-color: #BD8A6A;
    font-size: 90%;
    width: 40%;
    height: 40%;
}

.fa-long-arrow-right {
    padding: 10px 10px 10px 10px ;
}

.more-button {
    text-align: center;
}

/* Blogposts */
.blog__slider {
    padding: 0;
}

.blog__post{
    -webkit-box-shadow: 9px 9px 20px 0px rgba(0,0,0, .4);
    -moz-box-shadow: 9px 9px 20px 0px rgba(0,0,0, .4);
    box-shadow: 9px 9px 20px 0px rgba(0,0,0, .4);
    background-color: #DF9FA9;
}
.blog__topImg{
    max-width: 100%;
}

.blog__content {
    padding: 0.5rem;
}

@media (min-width: 768px) {
    body{
        margin: 0;
    }

    .navbar {
        margin: 20px 20px;
    }
    .container {
        position: fixed;
        width: 20%;
    }

    .fullBody {
        display: flex;
    }
    
    .left {
        width: 50%;
        position: fixed;
        height: 100%;
        padding: 0 30px 0 30px;
    }
    
    .right {
        display: block;
        padding-left: 55%;
        overflow: auto;
    }   

    #projects-section {
        height: 30%;
        width: 120%;
    }

    .box {
        height: 5rem;
        width: 25rem;
    }
    
    .blog__slider {
        padding: 0;
    }
    
    .blog__post{
        -webkit-box-shadow: 9px 9px 20px 0px #00000066;
        -moz-box-shadow: 9px 9px 20px 0px #00000066;
        box-shadow: 9px 9px 20px 0px #00000066;
        background-color: #DF9FA9;
    }
    
    /* .blog__topImg{
        max-width: 100%;
    } */
    
    .blog__content {
        padding: 0.5rem;
    }
    
 }


 
@media (min-width: 992px) {
    body{
        margin: 0;
    }

    .navbar {
        margin: 20px 20px;
    }
    .container {
        position: fixed;
        width: 20%;
    }

    img {
        height: 70px;
        width: 70px;
    }

    .fullBody {
        display: flex;
    }
    
    .left {
        width: 39%;
        position: fixed;
        height: 100%;
        padding-left: 6%;
    }
    
    .right {
        display: block;
        padding-left: 45%;
        overflow: auto;
    }   

    .box {
        height: 12rem;
        width: 42rem;
        padding: 40px 20px 0 20px;
        transition: transform .2s;
    }

    .box:hover {
        transform: scale(1.1);
    }

    .textWrapLeft {
        margin-top: 0;
    }

    .section-title.mt-5 {
        width: 44rem;
    }

    .blog__slider {
        display: flex;
        flex-wrap: wrap;
    }

    .blog__post{
        flex: 0 45%;
        margin-right: 20px;
        padding: 20px;
    }
    .blog__topImg{
        max-width: 100%;
    }
    
 }
